@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700;|Ubuntu:100,200,300,400,500,600,700;&display=swap');

html {
    height: 100%;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #BCEE68;
    margin-top: 3em;
    padding-top: 
}

#navbarNav {
    
}
.navbar {
    font-size: 1.5em;
    letter-spacing: 7px;
    text-transform: uppercase;
    height: auto; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700; 
}



/*------Bg Image----------*/

header {
    background-image: url('/assets/images/tree-oak-nv.jpeg') fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}



/*----------------------------------- Main Page Sections------------------------- */

.sectiontext {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    border: 3px solid #0a8c0d;
}

section h2 {
    font-family: 'Rubik';
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
 
/* -------------------- ---------------------------------------------foooter     */

footer {
    background-color: #0a8c0d;
    margin-top: 10px;
    padding-top: 10px;
    font-family: 'Rubik';
}

footer h6 {
    letter-spacing: 1px ;
    text-transform: uppercase;
    text-decoration: underline;
}

footer p{
    align-content: center;
}
footer li {
    align-content: center;
    list-style: none;
}

footer .fa {
    letter-spacing: 20px;
    font-size: 2em;
    color: #1874CD;
}
/*-------------------------------------  Text all pages  --------------------- */

section .section-text {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    border: 3px solid #0a8c0d;
}

/*-------------------- ---------------------------About --------------------- */

section .about-carousel {
    margin-top: 5rem;
}

section #about-main-slideshow {
    width: 60%;
    position: relative;
    border: 10px solid #0a8c0d;
    justify-content: center;
}

#aboutimages {

}

/*-----------------------------------------------Services Pruning--------------------------*/


#pruningimages {

}

/*-----------------------------------------------Services Felling--------------------------*/

#fellingimages {

}

/*-----------------------------------------------Services Removals--------------------------*/

#removalimages {

}

/*-----------------------------------------------Stump Grinding--------------------------*/

#stumpgrindingimages {

}

/*-----------------------------------------------Wood Art-------------------------------------*/

#carvingimages {

}

/*-----------------------------------------------Contact Form----------------------------------*/
/*

I've added this from BS Documentation as a style reference 

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/