@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700;|Ubuntu:100,200,300,400,500,600,700;&display=swap');

html {
    height: 100%;
    overflow: none
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #BCEE68;
    margin-top: 3em;
    padding-top: 
}


.navbar {
    background: url("/assets/images/logoedit2.png") no-repeat;
    letter-spacing: 7px;
    text-transform: uppercase;
    height: 8em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    position: absolute
}

button .navbar-toggle .collapsed {
    align-content: right;
    position: absolute;
}

/*------Bg Image----------*/

header {
    background-attachment: relative;
    background-image: url('/assets/images/tree-oak-nv.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}



/*----------------------------------- Main Page Sections------------------------- */

.sectiontext {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    border: 3px solid yellowgreen;
}

section h2 {
    font-family: 'Rubik';
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
 
/* -------------------- ---------------------------------------------foooter     */

footer {
    background-color: #BCEE68;
    margin-top: 10px;
    padding-top: 10px;
    font-family: 'Rubik';
}

footer h6 {
    letter-spacing: 1px ;
    text-transform: uppercase;
    text-decoration: underline;
}

footer p{
    align-content: center;
}
footer li {
    align-content: center;
    list-style: none;
}

footer .fa {
    letter-spacing: 20px;
    font-size: 2em;
    color: #1874CD;
}
/*-------------------------------------  Text all pages  --------------------- */

section .section-text {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    border: 3px solid yellowgreen;
}

/*-------------------- ---------------------------About --------------------- */

section .about-carousel {
    margin-top: 100px;
}

section #about-main-slideshow {
    position: relative;
    width: 60%;
    height: 60%;
    border: 5px solid yellowgreen;
    justify-content: center;
}

#aboutimages {

}

/*-----------------------------------------------Services Pruning--------------------------*/


#pruningimages {

}

/*-----------------------------------------------Services Felling--------------------------*/

#fellingimages {

}

/*-----------------------------------------------Services Removals--------------------------*/

#removalimages {

}

/*-----------------------------------------------Stump Grinding--------------------------*/

#stumpgrindingimages {

}

/*-----------------------------------------------Wood Art-------------------------------------*/

#carvingimages {

}

/*-----------------------------------------------Contact Form----------------------------------*/