@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700;|Ubuntu:100,200,300,400,500,600,700;&display=swap');

html {
    height: 100%;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #BCEE68;
    margin-top: 3em;
    overflow: auto;
}

/* -----------------------------------Navbar-----------*/
.navbar {
    font-size: 1.5em;
    letter-spacing: 7px;
    text-transform: uppercase;
    height: auto; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.navbar-nav li a {
    color: black; 
}

.navbar-nav a:hover{
    text-shadow: 2px 2px #1874CD;
}


.navbar-brand {   /* needs a @media */
    background-size: 100% auto;
}


.custom-toggler .navbar-toggler {
    border-color: 2px solid black;
}
.custom-toggler .navbar-toggler-icon {
    background-color: #0a8c0d;
}
.navbar-pages {

}


/*-------------------------------------Bg Image----------*/

header .bg-img{
    background: url('/assets/images/hill-meadow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
}

/*----------------------------------- Welcome ------------------------- */

.welcome {
    color: black;
    font-size: 2em;
    display: block;
    margin: 3em;
}

/*----------------------------------- Main Page Sections------------------------- */

article {

}

.sectiontext {
    margin-top: 50px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    font-size: 105%;
    letter-spacing: 2px;
    display: inline-block;
}

section h2 {
    font-family: 'Rubik';
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
}

.treeimages {
    width: 100px;
    height: 100px;
} 
 
/* -------------------- ---------------------------------------------foooter     */

footer {
    background-color: #BCEE68;
    margin-top: 10px;
    padding-top: 10px;
    font-family: 'Rubik', sans-serif;
    color: black;
    text-align: center;
}

footer h6 {
    align: center;
    letter-spacing: 1px ;
    text-transform: uppercase;
    text-decoration: underline;
}

footer li {
    /*align-content: center; */
    list-style: none;
    padding-left: 0;
}

footer .fa {
    display: inline-block;
    letter-spacing: 20px;
    font-size: 2em;
    color: #1874CD;
}
/*-------------------------------------  Text all pages  --------------------- */

section .section-text {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    /*font-size: 16px;*/
    letter-spacing: 2px;
    text-align: center;
}

/*-------------------- ---------------------------About Carousel --------------------- */

section .about-carousel {
    margin-top: 5rem;
}

section #about-main-slideshow {
    width: 60%;
    position: relative;
    border: 4px solid #BCEE68;
    justify-content: center;
}

#aboutimages {

}

/*-----------------------------------------------Services Pruning--------------------------*/


#pruningimages {

}

/*-----------------------------------------------Services Felling--------------------------*/

#fellingimages {

}

/*-----------------------------------------------Services Removals--------------------------*/

#removalimages {

}

/*-----------------------------------------------Stump Grinding--------------------------*/

#stumpgrindingimages {

}

/*-----------------------------------------------Wood Art-------------------------------------*/

#carvingimages {

}

/*-----------------------------------------------Contact Form----------------------------------*/
/*

I've added this from BS Documentation as a style reference 

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/